<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/css/mui.min.css" rel="stylesheet" />
		<link href="/css/common.css" rel="stylesheet" />
		<link href="/css/login.css" rel="stylesheet" />
		<title>登录</title>

	</head>

	<body class="mui-android mui-android-6 mui-android-6-0">

		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">登录</h1>
		</header>

		<div class="mui-content container">
			<form class="mui-input-group margin15">
				<div class="mui-input-row">
					<label style="width: 25%;">账号</label>
					<input style="width: 75%;" name="phone" id="phone" type="text" class="mui-input-clear form-padding-right" placeholder="请输入手机号" />
				</div>
				<div class="mui-input-row">
					<label style="width: 25%;">密码</label>
					<input style="width: 75%;" type="password" name="password" id="password" class="mui-input-password form-padding-right" placeholder="请输入密码" />
				</div>
			</form>
			<div class="error-msg">
				<span id="error-tip"></span>
			</div>
			<div class="mui-button-row">
				<button type="button" class="mui-btn mui-btn-primary btn-login">登录</button>
			</div>
		</div>

		<script src="/js/mui.min.js"></script>
		<script src="/js/login.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
	</body>

</html>