<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/css/mui.min.css" rel="stylesheet" />
		<link href="/css/common.css" rel="stylesheet" />
		<title>main</title>

	</head>

	<body class="mui-android mui-android-6 mui-android-6-0">

		<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div class="mui-input-row mui-search header input-search" style="margin-top: 15px;;">
					<input type="search" id="keywords" class="mui-input-clear" placeholder="请输入搜索关键字" />
				</div>
				<div id="slider" class="mui-slider">
					<div class="mui-slider-group mui-slider-loop">
						<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="https://www.baidu.com">
								<img src="images/yuantiao.jpg" />
								<p class="mui-slider-title">静静看这世界</p>
							</a>
						</div>
						<div class="mui-slider-item">
							<a href="https://www.baidu.com">
								<img src="images/shuijiao.jpg" />
								<p class="mui-slider-title">幸福就是可以一起睡觉</p>
							</a>
						</div>
						<div class="mui-slider-item">
							<a href="https://www.baidu.com">
								<img src="images/muwu.jpg" />
								<p class="mui-slider-title">想要一间这样的木屋，静静的喝咖啡</p>
							</a>
						</div>
						<div class="mui-slider-item">
							<a href="https://www.baidu.com">
								<img src="images/cbd.jpg" />
								<p class="mui-slider-title">Color of SIP CBD</p>
							</a>
						</div>
						<div class="mui-slider-item">
							<a href="https://www.baidu.com">
								<img src="images/yuantiao.jpg" />
								<p class="mui-slider-title">静静看这世界</p>
							</a>
						</div>
						<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="https://www.baidu.com">
								<img src="images/shuijiao.jpg" />
								<p class="mui-slider-title">幸福就是可以一起睡觉</p>
							</a>
						</div>
					</div>

					<div class="mui-slider-indicator mui-text-right">
						<div class="mui-indicator mui-active"></div>
						<div class="mui-indicator"></div>
						<div class="mui-indicator"></div>
						<div class="mui-indicator"></div>
					</div>
				</div>
				<ul id="datalist" class="mui-table-view margin15 mui-table-view-chevron">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="note-detail.html">
							Item 1
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="note-detail.html">
							Item 2
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="note-detail.html">
							Item 3
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="note-detail.html">
							Item 4
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="note-detail.html">
							Item 5
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="note-detail.html">
							Item 6
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="note-detail.html">
							Item 7
						</a>
					</li>
				</ul>
			</div>

		</div>

		<script src="/js/mui.min.js"></script>
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/main.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				pullRefresh: {
					container: "#refreshContainer", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});

			//启用轮播
			mui("#slider").slider({
				interval: 5000
			});
		</script>

	</body>

</html>