<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/css/mui.min.css" rel="stylesheet" />
		<link href="/css/common.css" rel="stylesheet" />
		<link href="/css/register.css" rel="stylesheet" />
		<title>设置登录密码</title>
		
	</head>

	<body class="mui-android mui-android-6 mui-android-6-0">
		
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">登录密码</h1>
		</header>
		
		<div class="mui-content container">
			<div class="register-tip">
				<span>设置登录密码</span>
			</div>
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label>输入密码</label>
					<input type="password" id="pwd" class="mui-input-password form-padding-right" placeholder="请输入密码" />
				</div>
				<div class="mui-input-row">
					<label>确认密码</label>
					<input type="password" id="surePwd" class="mui-input-password form-padding-right" placeholder="请确认密码" />
				</div>
			</form>
			<div class="error-msg">
				<span id="error-value"></span>
			</div>
			<div class="mui-button-row">
				<button type="button" class="mui-btn mui-btn-primary btn-register">注册</button>
			</div>
			
		</div>
		
		<script src="/js/mui.min.js"></script>
		<script src="/js/setting-password.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
	</body>

</html>