<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paltform.member.dao.IMemberDao">

	<!-- 修改密码 -->
	<update id="updatePassword" parameterType="Member">
		update Member set password = #{password} where phone = #{phone}
	</update>

	<!-- 注册 -->
	<insert id="register" parameterType="Member">
		insert into Member(phone, password, registerTime) values(#{phone}, #{password}, #{registerTime})
	</insert>
	
	<!-- 根据手机号查询 -->
	<select id="queryByPhone" resultMap="memberMapper">
		select * from Member where phone = #{arg0}
	</select>
	
	<!-- 修改邮箱 -->
	<update id="updateEmail" parameterType="Member">
		update Member set email = #{email} where memberId = #{memberId}
	</update>
	
	<!-- 修改昵称 -->
	<update id="updateNickName" parameterType="Member">
		update Member set nickName = #{nickName} where memberId = #{memberId}
	</update>
	
	<!-- 登录查询 -->
	<select id="login" parameterType="Member" resultMap="memberMapper">
		select * from Member where phone = #{phone} and password = #{password}
	</select>
	
	<resultMap id="memberMapper" type="Member">
        <id column="memberId" property="memberId"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
        <result column="registerTime" property="registerTime"/>
        <result column="nickName" property="nickName"/>
        <result column="email" property="email"/>
    </resultMap>

</mapper>
