<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/css/mui.min.css" rel="stylesheet" />
		<link href="/css/common.css" rel="stylesheet" />
		<title>center-main</title>

	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">个人中心</h1>
		</header>

		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media">
					<a class="mui-navigate-right" href="/member/setting">
						<img class="mui-media-object mui-pull-left head-img" src="/images/60x60.gif" />
						<div class="mui-media-body" style="padding-right: 30px;">
							用户昵称用户昵称用户
							<p class="mui-ellipsis">简介:这是用户简介这是用户简介这是用户简介这是用户简介</p>
						</div>
					</a>
				</li>
			</ul>

			<ul class="mui-table-view margin15">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="note-list.html">
						<img class="mui-media-object mui-pull-left head-img icon" src="/images/book.png" />
						<div class="mui-media-body">
							我的随记
						</div>
					</a>
				</li>
			</ul>

			<ul class="mui-table-view margin15">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="extension-list.html">
						<img class="mui-media-object mui-pull-left head-img icon" src="/images/cup_link.png" />
						<div class="mui-media-body">
							我的推广
						</div>
					</a>
				</li>
			</ul>

			<ul class="mui-table-view margin15">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="gold-list.html">
						<img class="mui-media-object mui-pull-left head-img icon" src="/images/coins_add.png" />
						<div class="mui-media-body">
							我的金币
						</div>
					</a>
				</li>
			</ul>

			<ul class="mui-table-view margin15">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<img class="mui-media-object mui-pull-left head-img icon" src="/images/help.png" />
						<div class="mui-media-body">
							帮助
						</div>
					</a>
				</li>
			</ul>

			<ul class="mui-table-view margin15">
				<li class="mui-table-view-cell" style="text-align: center;">
					<a href="../center-not-login-main.html">退出登录</a>
				</li>
			</ul>

		</div>

		<script src="/js/mui.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
	</body>

</html>