.container {
	padding-left: 15px;
	padding-right: 15px;
}

.form-padding-right {
	padding-right: 40px !important;
}

.margin15 {
	margin-top: 15px;
}

.icon {
	max-height: 20px;
	max-width: 20px;
}

.title {
	margin: 20px 15px 7px;
	color: #6d6d72;
	font-size: 15px;
}

.value {
	color: #6d6d72;
	margin-left: 5px;
}

.list-value {
	padding-right: 40px !important;
}

.list-value span.mui-col-xs-9 {
	white-space: normal;
}

.change-head label {
	vertical-align: top;
	line-height: 40px;
}

.change-head span {
	text-align: right;
	padding-right: 25px;
}

.change-head img {
	max-height: 40px;
	max-width: 40px;
}

.error-msg {
	color: red;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding-left: 16px;
	margin-top: 5px;
}
